<div class="col-xs-6 col-xs-offset-3">
  <h1><%= @cocktail.name %></h1>
  <ul>
    <% @cocktail.doses.each do |dose| %>
      <li><%= dose.ingredient.name %>: <%= dose.description %></li>
    <% end %>

  </ul>

  <%= link_to "Back", cocktails_path, class: "btn btn-primary" %>
  <%= link_to "Add Ingredient", new_cocktail_dose_path(@cocktail), class: "btn btn-primary" %>
  <%= link_to 'Delete Cocktail', cocktail_path, method: :delete, class: "btn btn-danger" %>
</div>
